.NavBar{
  background-color: #f7dec0;
  color: rgb(30, 30, 30);
  font-weight: 400;
  font-size: 1.025rem;
  display: flex;
  justify-content: space-between;
  
}

.NavBar .itens__navbar{
  list-style: none;
  display: flex;
  height: 100%;
  margin-bottom: 3%;
}

.NavBar .itens__navbar li{
  display: flex;
  margin-left: 1rem;
  align-items: center;
  margin-bottom: 8%;
}